
body{
    background-color:white;
    margin:0 0 0 0;
    padding:0;
}


#Name:hover{
        background-color: transparent;
        text-decoration: none;
        color: red;
        font-size: 300%;
        font-family: 'Creepster', serif;
        text-shadow: 5px -1px 5px rgb(0, 0, 0); 
        letter-spacing: 10px;   
        height:42px;  
        transition: 1.3s;   
}
#Name{
    text-decoration: underline;
    text-decoration-color: blue;
    font-size: 300%;
    color:yellow;
    text-align: center;
    border: 2px ridge transparent;
    background-color:transparent;
    text-shadow: 2.5px 1.3px 5px green;
    box-shadow: inset 0 0 0 3px transparent;
    border-top-left-radius: 5px;
    width: 376px;
    top: -27.5px;
    left:744px;
    position: fixed;
    height: 100px;
    padding:0px 0px 5px 0px;
    border-radius: 100px;
    transition: 1.3s;
    z-index: 2;
}

#TagLine{
    border:2px outset;
    color:blue;
    animation: blinker .55s step-start infinite;
}

@keyframes blinker {
    50% {
      opacity: 0;
    }
  }


#TagLine{
    font-size: 120%;
    border:2px inset blue;
    padding:10px 0 0 0 ;
    background-color:red;
    position:fixed;
    color:white;
    z-index: 2;
    text-align: center;
    height:40px;
    width: 310px;
    left:225px;
    top:10px;
    z-index: 4;

}

#TagLine3{
    font-size: 120%;
    border:2px inset red;
    padding:10px 0 0 0 ;
    background-color:blue;
    position:fixed;
    color:white;
    z-index: 2;
    text-align: center;
    height:40px;
    width: 310px;
    left:225px;
    top:.8px;
    z-index: 3;

}



#deals{
    background-color: black;
    border: 5px solid black;
    text-align:center;
}

#interactiveMap{
    border: 2px  solid black;
    position:relative;
    width: 600;
    height:450;
    bottom: 200px;
    left:1200px;
}


/* ----------------------------------------- */
#TopMenu{
    background-color:green;
    border: 1px transparent black;
    height: 120px;
    width:100%;
    top:0;
    position: fixed;
    z-index: 1;
    margin-top:0px;
    
}
#today1:hover a{
    color: white;
    background-color:gray;
    text-decoration:none;
    transition: 1s;
}
#today1 a {
    color:white;
    font-family: 'Rubik', sans-serif;
    background-color:green;
    text-decoration: none;
    text-align: center;
    border:2px solid transparent;
    width:110px;
    padding: 1px 1px 1px 1px;
    position:fixed;
    top:75px;
    transition: 1s;
}
#menu1:hover a{
    color:white;
    background-color: gray;
    text-decoration: none;
    transition: 1s;
}
#menu1 a{
    color:white;
    font-family: 'Rubik', sans-serif;
    background-color:green;
    text-decoration: none;
    text-align: center;
    border: 2px solid transparent;
    padding: 1px 1px 1px 1px;
    width:110px;
    position:fixed;
    top:95px;
    left:155px;
    transition:1s;
}
#subscribe1:hover a{
    color:white;
    background-color:gray;
    text-decoration: none;
    transition:1s;
}
#subscribe1 a {
    color:white;
    font-family: 'Rubik', sans-serif;
    background-color:green;
    text-decoration: none;
    text-align: center;
    border: 2px solid transparent;
    padding: 1px 1px 1px 1px;
    width:110px;
    position:fixed;
    top:95px;
    left: 270px;
    transition:1s;
}
#info1:hover a{
 color:white;
 background-color: gray;
 text-decoration: none;
 transition:1s;
}
#info1 a {
    color:white;
    font-family: 'Rubik', sans-serif;
    background-color:green;
    text-decoration: none;
    text-align: center;
    border: 2px solid transparent;
    padding: 1px 1px 1px 1px;
    width:110px;
    position:fixed;
    top:95px;
    left:385px;
    transition:1s;
}
/* ----------------------------------------- */

#pizzaman{
    height: 50%;
    width: 30%;
    position: absolute;
    right: 100px;
    border: 2px solid black;
    left:700px;
}
/* 
#box1{
    border: 1px solid black;
    background-color:#C8A165;
    position: relative;
    width: 250px;
    height:250px;
    left: 250px;
    bottom:800px;
} */


/* #Menu{
    background-color: blue;
    position: relative;
    border: 1px solid red;
} */

#Object{
    background-color:purple;
    border: 1px solid white;
    position: relative;
    width: 250px;
    padding: 0px 0px 0px 20px;
}

#FourLoop{
    background-color:mediumseagreen;
    border: 1px solid yellow;
    position:relative;
    width: 250px;
    padding: 0px 0px 0px 20px;
}

#TheDom{
    background-color:pink;
    border: 2px solid salmon;
    position: relative;
    width: 250px;
    padding: 0px 0px 0px 20px;
}

#Conjuction{
    background-color:orange;
    border: 2px solid gray;
    position: relative;
    width: 250px;
    padding: 0px 0px 0px 20px;
}

#Sub{
    color:white;
    background-color: transparent;
    position: fixed;
    width: 500px;
    height: 102px;
    padding: 5px 10px 15px 20px;
    left: 1300px;
    margin-top:-18;
}
#subTitle{
    background-color: transparent;
    font-size: 150%;
    position:fixed;
    left: 1304;
    top:-15px;
}

#deals{
    background-color: transparent;
    border: 0 solid transparent;
    font-size:150%;
    position:fixed;
    left: 1304px;
    top:15px;
}
#submit{
    position:fixed;
    top:70px;
    left:1480;
    width:173px;
}

#firstName{
    position:fixed;
    top:70px;
    left: 1304;
}
#lastName{
    position:fixed;
    top:95px;
    left:1304;
}
#email{
    position:fixed;
    top:95px;
    left:1480px;
}
/* .Content{
    background-color: yellow;
    border: 1px solid black;
} */

#Info{
    color: purple;
    background-color: grey;
    position: relative;
    padding: 1px 0px 2px 10px;
    width: 250px;
    left:50%;
    bottom:50%;
}
footer:hover{
    font-size: 14px;
    height: 70px;
    width: 300px;
    transition: 1s;
}
footer{
    background-color:cornflowerblue;
    text-align: center;
    font-size: 10px;
    border: 1px hidden blue;
    height: 50px;
    border-radius: 5px 5px 5px 5px;
    padding: 0px 0px 0px 2px;
    padding: 3px 10px 0px 10px;
    width: 200px;
    /* text-shadow: 2px 2px 2px white; */
    box-shadow: 5px 5px 15px 2px white, -5px -1px 15px 2px white;
    margin-left:auto;
    margin-right:auto;
    transition:1s;
}
 /* #borderLeft{
    background-color:aquamarine;
    height: 1900px;
    width:300px;
    bottom:1900px;
    margin-right:auto;
    position: relative;
    z-index: -1;
    } */
  /* #borderRight{
        background-color: aqua;
        width: 300px;
        height:1200px;
        margin-left:auto;
       bottom:1700px;
        position: static;
        z-index: -1;
    } */
